<nav>
  <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="#!" data-abc="true"><i class="fa fa-home"></i> Concedidos</a>
      </li>
      <li class="breadcrumb-item active">Consulta geral</li>
  </ol>
</nav>

<div class="topnav">
  <a href="#" class="active"><h3>Consulta geral</h3></a>
</div>

<br>

<form>
  <div class="form-group row">
    <label for="inputMatricula" class="col-sm-1 col-form-label">Matricula</label>
    <div class="col-sm-2">
      <input type="text" class="form-control" id="inputMatricula" >
    </div>
    <div>
      <button type="submit" class="btn btn-primary">Consultar</button>
    </div>
  </div>
</form>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Matricula</th>
      <th scope="col">Beneficiario</th>
      <th scope="col" class="text-center">Situação</th>
      <th scope="col">Valor</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let solicitacao of solicitacoes" >
      <th scope="row">{{ solicitacao.matricula }}</th>
      <td>{{ solicitacao.beneficiario }}</td>
      <td class="text-center">
        <span class="situacao" [ngClass]="{
          'liberado':solicitacao.situacao === 'LIBERADO',
          'em_analise':solicitacao.situacao === 'EM_ANALISE',
          'negado':solicitacao.situacao === 'NEGADO'
        }">
        {{ solicitacao.situacao }}
        </span>
      <td>{{ solicitacao.valor | currency: "R$ ":"symbol":"2.2-2" }}</td>
    </tr>
  </tbody>
</table>
<div> 
<div class="form-inline float-left mr-1">
  <select class="custom-select custom-select-sm"
    [value]="solicitacoesPerPage"
    (change)="changePageSize($event.target.value)">
    <option [ngClass]="{'selected': solicitacoesPerPage === 3}" value="3">3</option>
    <option [ngClass]="{'selected': solicitacoesPerPage === 5}" value="5">5</option>
    <option [ngClass]="{'selected': solicitacoesPerPage === 10}" value="10">10</option>
    <option [ngClass]="{'selected': solicitacoesPerPage === 20}" value="20">20</option>
  </select> 
  <span class="m-1"> registros por pagina</span>
</div>



  <div class="btn-group float-right">
    <!-- Center-aligned -->
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <!--li class="page-item disabled">
          <a class="page-link" (click)="changePage(page-1)" tabindex="page-1">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li -->

        <li class="page-item" *counter="let page of pageCount" 
          [ngClass]="{'active': selectedPage === page}">
          <a class="page-link" (click)="changePage(page)">{{ page }}</a>
        </li>

        <!--li class="page-item">
          <a class="page-link" (click)="changePage(page+1)">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li -->
      </ul>
    </nav>
  </div>
</div>
