<div class="container-fluid">
  <div class="row">
    <div class="col bpv-header text-white">
      <a class="navbar-brand m-2">
        <img src="assets/img/brasilprev-logo.png" height=50></a>
    </div>
  </div>
  <div class="row">
    <div class="bpv-blue-light p-2">
    </div>
    <div class="col-9 p-2 m-2">
     <app-consulta-geral></app-consulta-geral>
    </div>
  </div>
</div>
