/* You can add global styles to this file, and also import other style files */

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.bpv-header {
  background-color: #0261a7;
}

.bpv-blue-light {
  background-color: #18417b;
}

.b-none {
  background: rgba(245, 245, 245, 0);
  border: 0px solid rgba(245, 245, 245, 0);
  border-radius: 0px;
  display: block;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: ">";
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: transparent;
    border-bottom: 1px solid #18417b;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: 000;
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
    font-size: 17px;
    border-bottom: 3px solid #18417b;
  }
  
  .topnav a:hover {
    border-bottom: 3px solid #18417b;
  }
  
  .topnav a.active {
    border-bottom: 3px solid #18417b;
  }